<a href="https://colab.research.google.com/github/Mobashera-Alam/CS-5783-MachineLearning/blob/main/Assignment4/Problem1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [202]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [203]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [220]:
filename = "/content/drive/My Drive/ML/Assignment4/Asssignment4_Data.xlsx"
train = pd.DataFrame()
test = pd.DataFrame()
train = pd.read_excel(filename, sheet_name= "Train")
test = pd.read_excel(filename, sheet_name="Test")
test

,House ID,Local Price,Bathrooms,Land Area,Living area,# Garages,# Rooms,# Bedrooms,Age of home,Construction type
0,24,6.0931,1.5,6.7265,1.652,1.0,6,3,44,Apartment
1,25,8.3607,1.5,9.1500,1.777,2.0,8,4,48,House
2,26,8.1400,1.0,8.0000,1.504,2.0,7,3,3,House
3,27,9.1416,1.5,7.3262,1.831,1.5,8,4,31,Apartment
4,28,12.0000,1.5,5.0000,1.200,2.0,6,3,30,Apartment

In [221]:
train_apt = train[train['Construction type']=='Apartment']
train_con = train[train['Construction type']=='Condo']
train_hou = train[train['Construction type']=='House']
#train_hou

In [222]:
#From conditional probability table taking mean and variance of features for each class
mean_apt = [7.3327, 1.2857, 6.1038, 1.505, 1.2143, 6.8571, 3.4285, 38.7143]
var_apt =[13.0754, 0.3214, 10.6179, 0.4958, 0.4881, 1.8095, 0.9523, 215.5714]
mean_con=[7.4159, 1.3333, 6.0247, 1.5533, 1.3333, 6.8333, 3.3333, 39.6667]
var_con = [21.2636, 0.3667, 6.4759, 0.8527, 0.2667, 2.5667, 0.6667, 194.6667]
mean_hou = [5.7607, 1.0714, 6.6309, 1.3917, 1.0714, 6.1429, 3.0, 34.2857] 
var_hou = [0.3250, 0.0357, 5.0579, 0.0453, 0.7023, 0.4762, 0.3333, 161.9048]

In [223]:
P_feat_apt = np.zeros((5,8))
P_feat_con = np.zeros((5,8))
P_feat_hou = np.zeros((5,8))

In [224]:
test1 = test[['Local Price',	'Bathrooms',	'Land Area'	,'Living area'	,'# Garages'	,'# Rooms','# Bedrooms',	'Age of home']]
test1[['Local Price',	'Bathrooms',	'Land Area'	,'Living area'	,'# Garages'	,'# Rooms','# Bedrooms',	'Age of home']] = test1[['Local Price',	'Bathrooms',	'Land Area'	,'Living area'	,'# Garages'	,'# Rooms','# Bedrooms',	'Age of home']].astype(float)

test2 = np.array(test1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [225]:
#using gaussian distribution probability density function using Maximum A posterior

from math import pi
def density_func(mean,var,sam):
  def_fun = (1/np.sqrt(2*pi*var))*np.exp(-(sam-mean)**2/(2*var))
  return def_fun
for i in range (len(mean_con)):
  for j in range(5):
    P_feat_apt[j,i] = density_func(mean_apt[i],var_apt[i],test2[j,i])
    P_feat_con[j,i] = density_func(mean_con[i], var_con[i], test2[j,i])
    P_feat_hou[j,i] = density_func(mean_hou[i], var_hou[i], test2[j,i])
#print("Probability of each features given apartment",P_feat_apt)
#print("Probability of each features given condum", P_feat_con)
#print("Probability of each features given house ", P_feat_hou)

In [226]:
P_apt = 7/20
P_con = 6/20
P_hou = 7/20

P_Apt_feat = []
P_Con_feat = []
P_Hou_feat = []

#Assuming the probabilites of features given classes are mutually independent
for l in range(5):
  new_mul_apt=1
  new_mul_con = 1
  new_mul_hou = 1
  for w in range(8):
    new_mul_apt = new_mul_apt* P_feat_apt[l,w]    #ignoring marginal probability base on Maximum A posterior
    new_mul_con = new_mul_con* P_feat_con[l,w]
    new_mul_hou = new_mul_hou* P_feat_hou[l,w]
  P_Apt_feat.insert(l, P_apt*new_mul_apt)
  P_Con_feat.insert(l,P_con*new_mul_con)
  P_Hou_feat.insert(l,P_hou*new_mul_hou)

print('Probability of each example to have label Apartment:',P_Apt_feat)
print('Probability of each example to have label Condum:',P_Con_feat)
print('Probability of each example to have label House:',P_Hou_feat)

Probability of each example to have label Apartment: [1.982298806866452e-06, 4.85553769825665e-07, 6.403441547672148e-08, 1.1474907779641714e-06, 4.0747121261129593e-07]
Probability of each example to have label Condum: [1.7116920039722544e-06, 2.6787816356804787e-07, 2.456611585898113e-08, 1.0079093588647272e-06, 4.304797726821291e-07]
Probability of each example to have label House: [2.2752066796844448e-05, 4.463790155808397e-13, 1.387124848271502e-09, 1.0350846921968358e-15, 1.9607773664018742e-31]

In [227]:
P = []
for i in range (5):
  P.insert(i,max(P_Apt_feat[i],P_Con_feat[i], P_Hou_feat[i]))
  if P[i] == P_Apt_feat[i]:
    print("Example",i+1,"Apartment")
  elif P[i]== P_Con_feat[i]:
    print("Example",i+1,"Condum")
  else:
    print("Example",i+1,"House")

Example 1 House
Example 2 Apartment
Example 3 Apartment
Example 4 Apartment
Example 5 Condum